* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.order-summery {
  text-align: center;
  margin-bottom: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
}
.cart {
  padding: 6px;
}
.cart p + p {
  padding-top: 14px;
}
.order-total {
  color: red;
  margin-top: 6px;
  padding-top: 5px;
  border-top: 1px solid gainsboro;
}
